@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

::root {
    font-size: 1em;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}